:root {
    --color-background-light: rgba(242, 232, 217, 1);
    --color-text-primary: rgba(83, 32, 19, 1);
    --color-background-card: rgba(251, 245, 234, 1);
    --color-accent-primary: rgba(244, 130, 61, 1);
    --color-accent-spicy: rgba(197, 50, 25, 1);
    --color-text-secondary: rgba(166, 139, 127, 1);
    --color-badge-bestseller: rgba(32, 146, 62, 1);
    --shadow-card-default: 0px 1px 12px 0px rgba(83, 32, 19, 0.16);
    --color-accent-orange-semi: rgba(255, 122, 0, 0.85);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
}


.spoiler-enter-active,
.spoiler-leave-active {
    overflow: hidden;
    transition: height .3s, opacity .3s;
}

.spoiler-enter-from,
.spoiler-leave-to {
    height: 0 !important;
    opacity: 0;
}