.dishCard {
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    height: 400px;
    background-color: var(--color-background-card);
    border-radius: 28px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
}

.dishImageWrapper {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    align-items: center;
    padding-top: 16px;
}

.dishBadge {
    display: inline-flex;
    position: absolute;
    top: 16px;
    left: 17px;
    height: 26px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 24px;
    z-index: 10;
    color: #fff;
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.dishBadgeSpicy {
    background: #C53219;
}

.dishBadgeBestseller {
    background: #F4823D;
}

.dishBadgeNew {
    background: #20923E;
}

.dishImage {
    max-width: 200px;
    height: 240px;
    object-fit: contain;
}

.dishName {
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: normal;
    margin: 16px 0 16px;
    padding: 0 20px;
    color: var(--color-text-primary);
}

.dishWeight {
    color: var(--color-text-secondary);
    font-size: 17px;
}

.dishCardButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.dishButton {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 143px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    font-family: "Flame-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-background-card);
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
    white-space: nowrap;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

.dishButton {
    background-color: var(--color-text-secondary);
}

.dishButtonAlt {
    background-color: var(--color-text-primary);
}

.dishButtonDisabled {
    cursor: default;
    opacity: 0.7;
}

.searchIcon {
    display: none;
}

@media (max-width: 700px) {
  .dishCard {
    width: calc(50% - 5px);
    max-width: unset;
    min-width: unset;
    height: 330px;
  }

  .dishImageWrapper {
    padding-top: unset;
    height: unset;
  }

  .dishImage {
    max-width: 100%;
    height: 200px;
  }

  .dishName {
    margin: 0;
    padding: 0 8px;
    font-size: 17px;
  }

    .dishWeight {
        font-size: 15px;
    }

  .dishButton {
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
  }

}