.restaurantsDropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 0;
    margin-right: 51px;
}

.restaurantsText {
    font-family: "Flame-Regular", Helvetica;
    font-weight: 400;
    /* Исходный цвет: var(--bpnv-NH) - Темно-коричневый */
    color: var(--color-text-primary);
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
    white-space: nowrap;
}

.restaurantsArrow {
    position: relative;
    top: 2px;
    transition: transform .2s ease;
}

.restaurantsDropdown--open .restaurantsArrow {
    transform: rotate(180deg);
}

.rDropdownContent {
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 28px);
    left: -27px;
    position: absolute;
    width: 381px;
    height: 285px;
    padding: 32px 27px;
    background-color: var(--color-background-card);
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
    transform: translateY(25px);
    transition: .2s ease;
    cursor: auto;
}

.restaurantsDropdown--open .rDropdownContent {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}

.rDropdownContent__title {
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    color: var(--color-accent-primary);
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
    margin: 0 0 17px 0;
    text-align: left;
}

.rDropdownContent__list {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.rDropdownContent__item {
    text-align: left;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "RotondaC-Regular", sans-serif;
    font-weight: 400;
    color: #532013;
    font-size: 16px;
    line-height: 19.2px;
    display: flex;
    letter-spacing: 0;
}

.rDropdownContent__item::before {
    content: '';
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 50%;
    margin: 5px 10px 0 0;
    flex-shrink: 0;
}

