.vacancies {
    background: #F2E8D9;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vHero {
    text-align: center;
}

.vHero__title {
    font-family: 'Flame-Bold', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 50.46px;
    color: #532013;
}

.vHero__text {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    margin: 20px 0 40px 0;
}

.vHero__button {
    max-width: 252px;
    height: 68px;
    padding: 0 40px;
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    display: none;
    align-items: center;
    justify-content: center;
    color: #FBF5EA;
    background: #532013;
    border-radius: 100px;
    margin: 0 auto;
}

.vBenefits {
    position: relative;
    background-image: url('../../../public/img/personal.svg');
    background-position: center -165px;
    background-repeat: no-repeat;
    background-size: inherit;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.vBenefits__bgImage {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
    width: 932px;
    height: auto;
    pointer-events: none;
}

.vBenefits__wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
}

.vBenefits__item {
    width: 25%;
    height: 183px;
    background: #FBF5EA;
    border-radius: 24px;
    color: #532013;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 28px 0;
}

.vBenefits__itemTitle {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 50.46px;
    text-align: center;
}

.vBenefits__itemText {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    text-wrap: balance;
}

@media (max-width: 700px) {
    .vacancies {
        padding: 20px 0;
    }

    .vHero__title {
        font-size: 30px;
        line-height: 120%;
    }

    .vHero__text {
        font-size: 18px;
        margin: 16px 0 24px 0;
    }

    .vBenefits {
        min-height: auto;
        background-position: center -80px;
        background-size: contain;
        padding: 140px 0 20px 0;
    }

    .vBenefits__bgImage {
        display: none;
    }

    .vBenefits__wrap {
        flex-direction: column;
        gap: 12px;
    }

    .vBenefits__item {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 16px;
    }

    .vBenefits__itemTitle {
        font-size: 18px;
        line-height: 120%;
        margin: 12px 0 8px 0;
    }

    .vBenefits__itemText {
        font-size: 14px;
    }
}
