.offer {
    background: #F2E8D9;
    padding: 60px 0;
}

.offer__wrapper {
    padding: 60px;
    background: #FBF5EA;
    border-radius: 32px;
}

.offer__breadcrumbs {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-text-secondary);
}

.offer__breadcrumbs a {
    color: var(--color-text-secondary);
    transition: 0.2s ease;
}

.offer__breadcrumbs a:hover {
    color: var(--color-text-primary);
}

.offer__breadcrumbs span {
    color: var(--color-text-primary);
}

.offer__title {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: #532013;
    margin: 40px 0 0 0;
    max-width: 880px;
}

.offer__section-title {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #532013;
    margin: 24px 0 14px 0;
    text-wrap: balance;
}

.offer__paragraph {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #532013;
    margin: 0 0 6px 0;
    text-wrap: pretty;
}

.offer__paragraph:last-child {
    margin: 0;
}

@media (max-width: 700px) {

    .offer {
        padding: 20px 0;
    }

    .offer__wrapper {
        padding: 20px;
        border-radius: 16px;;
    }

    .offer__breadcrumbs {
        font-size: 14px;
    }

    .offer__title {
        font-size: 30px;
    }

    .offer__section-title {
        font-size: 20px;
    }

    .offer__paragraph {
        font-size: 16px;
    }
}
