@font-face {
    font-family: 'Flame-Regular'; /* 👈 Имя, которое будет использоваться в CSS */
    src: url('./FLAME-REGULAR.otf') format('opentype'); /* 👈 Укажите правильный путь к файлу */
    font-weight: 400; /* Соответствует "Regular" */
    font-style: normal;
    font-display: swap;
}

/* Подключение шрифта Flame-Bold */
@font-face {
    font-family: 'Flame-Bold'; /* 👈 Имя, которое будет использоваться в CSS */
    src: url('./FLAME-BOLD.otf') format('opentype'); /* 👈 Укажите правильный путь к файлу */
    font-weight: 700; /* Соответствует "Bold" */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RotondaC-Regular';
    src: url('./rotondac.otf') format('opentype'); /* 👈 Укажите правильный путь к файлу */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}