.vJobs {
    position: relative;
    padding: 80px 0 0 0;
}

.vJobs__title {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 50.46px;
    text-align: center;
    color: #532013;
}

.vJobs__list {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media (max-width: 700px) {
    .vJobs {
        padding: 20px 0 0 0;
    }

    .vJobsItem__wrapper {
        font-size: 18px;
        gap: 20px;
    }

    .vJobs__title {
        font-size: 25px;
        line-height: 120%;
    }

    .vJobs__list {
        gap: 12px;
    }
}
