.promos {
    width: 100%;
    overflow-x: auto;
    margin: 32px 0 0 0;
    scrollbar-width: none; /* Firefox */
}

.promos::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.promos__container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.promos__slide {
    width: 246px;
    min-width: 246px;
    height: 320px;
    background: #fff;
    border-radius: 32px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}

.promos__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
  .promos {
    margin: 18px 0 0 0;
  }
  .promos__container {
    gap: 8px;
  }
  .promos__slide {
    width: 140px;
    min-width: 140px;
    height: 182px;
    border-radius: 14px;
  }
}