.header {
    width: 100%;
    background-color: var(--color-background-card);
    box-shadow: var(--shadow-card-default);
    position: sticky; 
    top: 0;
    z-index: 100;
}

.headerContainer {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding: 0 65px;
}

.headerNav {
    display: flex;
    align-items: center;
    height: 68px;
    gap: 16px;
}

.logoLink {
    display: flex;
    align-items: center;
}

.logoHeader {
    width: 40.74px;
    height: 45px;
}


.headerLinks {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerLink {
    font-family: "Flame-Regular", Helvetica;
    font-weight: 400;
    /* Исходный цвет: var(--x-68-blt-v) - Серо-коричневый (Вторичный текст) */
    color: var(--color-text-secondary);
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.2s;
}

.headerLink:hover,
.headerLink:focus {
    /* Исходный цвет: var(--bpnv-NH) - Темно-коричневый */
    color: var(--color-text-primary);
}

.headerLink--active {
    /* Исходный цвет: var(--bpnv-NH) - Темно-коричневый */
    color: var(--color-text-primary);
}

.cartButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
}

.cartIconSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--color-background-light);
    border: 1px solid var(--color-background-light);
    border-radius: 20px;
}

.cartIcon {
    width: 12px;
    height: 12px;
}

.cartDetails {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 14px;
    border-radius: 32px;
    /* Исходный цвет: var(--PFJ-qw-o) - Яркий оранжевый */
    border: 1px solid var(--color-accent-primary);
}

.cartBagIcon {
    width: 11.16px;
    height: 14.08px;
}

.cartPrice {
    font-family: "Flame-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-accent-primary);
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
    white-space: nowrap;
}

@media (max-width: 700px) {
  .cartPrice {
    font-size: 16px;
  }

  .cartButton {
    min-width: 28px;
    gap: 4px;
  }

  .cartIconSearch {
    display: none;
  }

  .headerLink {
    font-size: 16px;
  }
  
}

