.footer {
    width: 100%;
    padding: 64px 65px;
    background-color: var(--color-background-card); /* 👈 Использована переменная */
    box-sizing: border-box;
}

.footer__container {
    display: flex;
    align-items: flex-start;
    gap: 95px;
    margin: 0 auto;
}

.footer__logoSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.footer__logoSectionWrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__logoSectionText {
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.footer__logoSectionLink {
    display: block;
    text-decoration: none;
    color: #522113;
    flex-shrink: 0;
}

.footer__logoSectionText {
    transition: color 0.2s;
}

.footer__logoSectionLink:hover .footer__logoSectionText {
    color: var(--color-accent-primary);
}

.footer__copyright {
    max-width: 195px;
    color: #A68B7F;
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

.footer__nav,
.footer__navLegal {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__link {
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    color: var(--color-text-primary); /* Использую --color-text-primary для текста (темно-коричневый) */
    font-size: 20px;
    letter-spacing: 0;
    line-height: 26px;
    text-decoration: none;
    transition: color 200ms;
}

.footer__link:hover {
    color: var(--color-accent-primary);
}

.footer__payments {
    display: flex;
    flex-wrap: wrap;
    margin-right: -29px;
    margin-top: -20px;
    max-width: 475px;
}

.footer__paymentIcon {
    margin-top: 20px;
    margin-right: 29px;
}