@font-face {
    font-family: 'Flame-Regular'; 
    src: url(./Flame-Regular.woff2) format('woff2'),
    url(./Flame-Regular.woff) format('woff');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flame-Bold'; 
    src: url(./Flame-Bold.woff2) format('woff2'),
    url(./Flame-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
