@font-face {
    font-family: 'Flame-Regular'; /* 👈 Имя, которое будет использоваться в CSS */
    src: url('./Flame-Regular.OTF') format('opentype'); /* 👈 Укажите правильный путь к файлу */
    font-weight: 400; /* Соответствует "Regular" */
    font-style: normal;
    font-display: swap;
}

/* Подключение шрифта Flame-Bold */
@font-face {
    font-family: 'Flame-Bold'; /* 👈 Имя, которое будет использоваться в CSS */
    src: url('./Flame-Bold.OTF') format('opentype'); /* 👈 Укажите правильный путь к файлу */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
