.categoryItem {
    display: flex;
}


.categoryLink {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    transition: color 200ms ease;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.categoryIcon {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: var(--color-background-light);
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms ease;
}

.categoryImage {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.categoryLinkActive .categoryName {
    color: var(--color-accent-primary);
}

.categoryName {
    font-family: "Flame-Regular", sans-serif;
    font-weight: 400;
    color: var(--color-text-primary);
    font-size: 18px;
    transition: color 200ms ease;
}

.categoryLink:not(.categoryLinkActive):hover .categoryName {
    color: var(--color-accent-primary);
}

