.privacy {
    background: #F2E8D9;
    padding: 60px 0;
}

.privacy__wrapper {
    padding: 60px;
    background: #FBF5EA;
    border-radius: 32px;
}

.privacy__breadcrumbs {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-text-secondary);
}

.privacy__breadcrumbs a {
    color: var(--color-text-secondary);
    transition: 0.2s ease;
}

.privacy__breadcrumbs a:hover {
    color: var(--color-text-primary);
}

.privacy__breadcrumbs span {
    color: var(--color-text-primary);
}

.privacy__title {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: #532013;
    margin: 40px 0 0 0;
}

.privacy__subtitle {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #532013;
    text-wrap: pretty;
    margin: 24px 0 0 0;
}

.privacy__section-title {
    font-family: 'Flame-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #532013;
    margin: 24px 0 14px 0;
    text-wrap: balance;
}

.privacy__paragraph {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #532013;
    margin: 0 0 6px 0;
    text-wrap: pretty;
}

.privacy__paragraph:last-child {
    margin: 0;
}

.privacy__paragraph a {
    color: inherit;
    text-decoration: underline;
}

.privacy__term {
    font-weight: 600;
}

