.privacy {
    background: #F2E8D9;
    padding: 100px 0;
    min-height: 70vh;
}

.privacy__title {
    font-family: 'Flame-Bold', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 50.46px;
    color: #532013;
    text-align: center;
    margin-bottom: 40px;
}

.privacy__content {
    font-family: 'RotondaC-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #532013;
    max-width: 800px;
    margin: 0 auto;
}

.privacy__text {
    text-align: center;
}

